@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    background-color: #8b008b;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.telo{
    margin-top: 0%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 2fr 1fr;
    height: 99%;
}

.analdo{
    order: 1;
}

@media screen and (min-width: 768px){
    .text{
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 200%;
        color: white;
    }
}

@media screen and (max-width: 768px){
    .text{
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 125%;
        color: white;
    }
}

.pessi{
    order: 3;
}

.buttons{
    text-align: center;
    font-size: 200%;
    top: 15%;
}

.button{
    align-items: center;
    justify-items: center;
    color: white;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    -webkit-tap-highlight-color: transparent;
}